html, body {
    height:100%;
}
#wrapper {
    min-height: 100%;
}
.dropdown-menu.show {
    max-height: 300px;
    overflow-y: scroll;
    color: black;
}
#matching-box .btn-group label {
    margin-right: 10px;
}